/* --------------------------------

Created by Bi Pham
03-05-2017

-------------------------------- */

.row-steps-info {
    height: 200px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    background: green;
}

.card-step-area {
    width: 100%;
}

.control-step-area {
    margin: 20px 0;
}

.btn-custom-step {
    float: left;
    width: 100px;
    margin-right: 20px;
}
